//In this file we are creating variable for different elements like size, colors etc
//This concept is like declaring Global Variables in Programming
//Settings for Colors

//Settings for Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; //Medium Size
$l-size: 3.2rem; //Large Size
$xl-size: 4.8rem; //Xtra Large Size
//Settings for Mobile and Desktop
$desktop-breakpoint: 45rem;
